body {
	color: #ececed;
	font-family: Arial, Helvetical, sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ----------------- container -------------- */
.container {
	max-width: 960px;
	margin: 0 auto;
}

/* ----------------- header ----------------- */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-image: linear-gradient(to right, #376268, #36757f, #328998, #299db2, #14b2cd);
}

.logo-img {
	width: 65px;
}

.company {
	text-transform: uppercase;
}

/* ----------------- menu ------------------- */
.menu > ul {
	display: flex;
	justify-content: space-between;
}

.menu > ul li{
	width: 100%;
}

.menu > ul li a {
	display: block;
	background-color: #ececed;
	padding: 15px 30px 15px 40px;
	font-size: 14px;
	color: #4d97a3;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.menu > ul li{
	position: relative;
	text-align: center;
	border-right: 2px solid #4d97a3;
}

.menu > ul li > a i.fa {
	position: absolute;
	top: 15px;
	left: 30px;
	font-size: 18px;
}

.menu > ul li:first-child {
	border-left: 2px solid #4d97a3;
}

.menu > ul li:last-child {
	border-right: 2px solid #4d97a3;
}

.menu li a:hover {
	background: linear-gradient(to bottom, rgba(77,151,163,1) 0%, rgba(224,239,249,1) 100%);
	color: #ececed;
	box-shadow: 1px 5px 10px -5px #000;
	transition: all 0.3s ease;
}

/* ----------------- sub-menu --------------- */
.menu li ul {
	position: absolute;
	min-width: 150px;
	display: none;
}

.menu li > ul li {
	border: 1px solid #4d97a3;
}

.menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background-color: #ededf3; 
}

/* ----------------- sub-sub-menu --------------- */
.menu li > ul li ul {
	position: absolute;
	right: -150px;
	top: 0;
}

.menu li:hover >ul {
	display: block;
}

/* ----------------- main --------------- */
.main {
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	vertical-align: middle;
	padding: 30px 0;
}

.main-img {
	float: left;
	width: 50%;
}

/* ----------------- slider --------------- */
.wrap {
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
	text-align: center; 
	background-color: #2b2754;
}

.slider-header {
	width: 100%;
	background-color: #3e474f;
	box-shadow: 0 0.5em 1em #111;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
}

.slider-header label {
	cursor: pointer;
	display: inline-block;
	line-height: 4.25em;
	font-size: 1em;
	font-weight: bold;
	padding: 0 1em;
}

.slider-header label:hover {
	background-color: #2e353b;
}

.slide {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-color: #120103;
	background-position: 50% 50%;
	background-size: cover;
	transition: left 0s 0.75s;
}

.slide-one {
	background-image: url(../img/desk1.jpg);
}

.slide-two {
	background-image: url(../img/desk2.jpg);
}

.slide-three {
	background-image: url(../img/desk3.jpg);
}

.slide-four {
	background-image: url(../img/desk4.jpg);
}

.slide p {
	opacity: 0;
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left 0.65s ease-out;
}

/* ----------------- about us --------------- */
.about-us {
	padding: 50px;
	background-image: linear-gradient(to right, #376268, #36757f, #328998, #299db2, #14b2cd);
	text-align: center;
}

.cards {
	display: flex;
	justify-content: space-around;
	color: #000;
}

.card {
	width: 40%;
	padding: 15px;
	border-radius: 30px;
	background-color: rgba(555,555,555,0.4);
}

.card-name {
	text-transform: uppercase;
    color: #0b0b75;
    font-size: 24px;
}

.card-text {
	font-size: 12px;
    color: #544b4b;
}

/* ----------------- socials --------------- */
.card-socials {
	font-size: 24px;
	display: flex;
	justify-content: center;
}

.card-socials li {
	margin-right: 5px;
}

.fa-facebook {
	color: #09094e;
}

.fa-twitter-square {
	color: #2c2ce2;
}

.fa-linkedin {
	color: #2744ad;
}

.fa-vk {
	color: #0a0a8c;
}

.card-img {
	width: 50%;
	border-radius: 50%;
}

/* ----------------- our features --------------- */

.our-features {
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.feature {
	width: 25%;
	text-align: center;
	color: #2b2754;
}

.feature-icon {
	font-size: 38px;
}

.feature-icon:hover {
	color: #4d97a3;
}

/* ----------------- contacts --------------- */
.contacts {
	text-align: center;
	padding: 60px 0;
	background-color: #2b2754;
	color: #4d97a3;
}

/* ----------------- footer --------------- */
.footer {
	text-align: center;
	padding: 30px 10px;
	background-image: linear-gradient(to right, #376268, #36757f, #328998, #299db2, #14b2cd);
}		

.login{
		width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}								

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }